[Unit]
Description=Prometheus Proxmox Exporter
After=network.target

[Service]
Type=simple
User=root
ExecStart=/opt/pve-exporter/bin/pve_exporter --config.file=/etc/prometheus/pve.yml
Restart=always

[Install]
WantedBy=multi-user.target
